button{
    display: flex;
    width: 100%;
    padding: 16px;
    align-items: center;
    justify-content: center;
    background-color: #569FE5;
    color: #FFF;
    font: 500 16px "Poppins";
    border: none;
    border-radius: 50px;
}